.sign-up-main{
    position: relative;
    width: 100%;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-left: 0;
}

.fit-form-sign-up{
    width: 50%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fit-form-sign-up h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #373867;
}

#formSignUp{
    height: 80%;
    width: 80%;
}

.fit-form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.error{
    display: none;
    color: red;
    font-size: 10px;
}

.sec-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 9px;
}

.sec-div label {
    margin-right: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.sec-div input{
    width: 100%;
    height: 22px;
    margin-top: 8px;
    background: #f0eeee;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.fit-column{
    display: flex;
    flex-direction: column;
}
.fit-submit{
    margin: 10px;
}

#enviar{
        display: flex;
        width: 45%;
        flex-direction: column;
        align-items: center;
        padding: 10px 24px;
        background: #AACE9B;
        border-radius: 5px;
        font-family:'Roboto';
        font-weight: bold;
        
}