.contenedor{
    display: flex;
   flex-direction: column;
}


#lateral {
    display: none;
}


.section1 {
    display: inline-block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fix-section1{
    display: flex;
    flex-direction: column;
}

.texto-imagen {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
}

#titulo {
    margin-left: 0.6em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    color: #373867;

}

.imagen-r {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;

    
}

.reloj-image{
    width: 90%;
    height: 90%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.texto1{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 15px;
        line-height: 30px;
}
.texto1 p {
    padding-left: 30px;
    padding-right: 30px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1116px;

}

.fit-section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1116px;
    margin-bottom: 4.375em;

}

.section2 h2 {
    margin-left: 0.6em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 35px;
    color: #373867;
}

.sec-fun{
    display: flex;
    width:auto;
}

.sec-fun h3 {
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}

.sec-texto, .sec-texto2 {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.estrellita{
    display: flex;
    align-items: flex-start;
    margin-left: 1em;
}

.ask-for{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 542px;
}

.ask-for h2 {
    margin: 0.6em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 35px;
    color: #373867;
}

.formulario {
    display: flex;
    width: auto;
    height: 542px;
    margin-left: 0.6em;
    flex-direction: column;
    justify-content: space-around;
}
.name-form input[type="text"], .name-form input[type="email"] {
    width: 90%;
    border-radius: 4px;
    padding: 10px 12px;
    border: 1px solid #373867;
}
.contactarea-form{
    display: flex;
    flex-direction: column;
    }

.contactarea-form p {
    margin-top: 35px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #373867;

}

.contactarea-form label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

.text-area textarea {
    height: 164px;
    width: 90%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #373867;
    border-radius: 4px;
}

#boton-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1.5em;
}
.boton {
    display: flex;
    width: 25%;
    height: 47px;
    padding: 0.875em 3.75em;
    border-radius: 5px;
    background: #AACE9B;
    align-items: center;
    justify-content: center;
}

#boton-form input[type="submit"]{
    margin-right: 1.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85%;
    line-height: 18px
}

.aboutus {
    display: flex;
    flex-direction: column;
    height:809px ;
    align-items: center;
    justify-content: space-around;
}

#textoabout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 30px;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#textoabout h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

#imagen-cohete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.logo {
    width: 90%;
}

.section4{
    display: flex;
    width: 90%;
    justify-content:space-around ;
    margin-bottom: 50px;
}

.grupo4 h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867
}

.grupo4 li {
    padding-top: 1.438em;
}

@media screen and (min-width: 480px) and (max-width: 780px){


 
.texto-imagen {
    width: 95%;
    height: 342px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
}

.texto1 {
    width:70% ;
}

.texto1 p {
    padding-left: 30px;
    padding-right: 30px;
}

.section2 {
    height: 700px;
}

.fit-section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 431px;
    margin-bottom: 4.375em;

}

.sec-fun{
    display: flex;
    width: 50%;
}

.aboutus{
    flex-direction: row;
    width: 95%;

}

#textoabout{
    width: 70%

}


}